.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
}

.container__botao:checked~.container__rotulo > .cabecalho__menu-hamburguer {
    background-image: url("../img/Menu-aberto.svg");
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.cabecalho {
    height: 3.6em;
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; /*permite mover os elementos pra todos os lados, no caso, ele só pe relative pra sair do default static pra gente poder mover o .lista-menu pra de baixo do cabeçalho*/
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute; /*permite que o elemento seja movimentado em relação com o elemento pai*/
    top: 100%; /*moveu 100% do espaço do cabeçalho*/
    width: 60vw; /*vw pega a largura da tela, 100 é o total*/
    z-index: 1000;
}

.container__botao:checked ~ .lista-menu { /*~ é um combinador, procura o prox elemento que tem a classe lista-menu*/
    display: block;
}

.lista-menu__titulo, .lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade); /*aplicou a cor ao background*/
    -webkit-background-clip: text; /*criou uma mascara de camada onde tem texto*/
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.container__botao, .container__titulo, .opcoes, .container__texto{
    display: none;
}


@media screen and (min-width: 1024px) {
    .container__titulo, .container__titulo--negrito {
        font-family: var(--font-secundaria);
        font-size: 1.9rem;
    }

    .container__titulo {
        display: block;
        font-weight: 400;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
        cursor: pointer;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem--transparente, .cabecalho__menu-hamburguer {
        display: none;
    }

    .opcoes__botao:checked ~ .lista-menu {
        display: block;
        width: auto;
    }

    .opcoes__botao {
        display: none;
    }

    .opcoes__botao:checked~.opcoes__rotulo > .opcoes__item {
        background: var(--azul-degrade);
        color: var(--branco);
    }

    .opcoes__item {
        padding: 1.3em 1em;
    }

    .opcoes__item:hover {
        background-color: var(--cor-de-fundo);
    }

    .lista-menu__item:hover {
        background: var(--azul-degrade);
        cursor: pointer;
    }

    .lista-menu__item:hover > .lista-menu__link {
        -webkit-text-fill-color: var(--branco);
        text-decoration: none;
    }
}

@media screen and (min-width: 1728px) {
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
        height: 3.5em;
    }

    .container__link:hover {
        background: var(--cor-de-fundo);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .opcoes {
        margin-right: auto; /*no caso de flexbox, se o valor da margem é alto o suficiente, ele vai tentar preencher todo o espaço, nesse caso, a margem da direita é totalmente preenchida, "jogando" os elementos pra esquerda*/
    }

    .container__texto {
        display: block;
        padding-right: 1em;
    }
}